@import url('https://fonts.googleapis.com/css?family=Titan+One|Patrick+Hand');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Patrick Hand", cursive;
  color: #323538;
}

.window {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url(img/gray-texture.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

}

.gamespace {
  position: relative;
  max-width: 95rem;
  margin: auto;
  width: 100%;
  height: 100%;
  background: url(img/index-card.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
}

h2 {
  font-size: 3rem;
  padding-top: .5rem;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 100;
}

i {
  /* cause the icon to be positioned absolutely within the gamespace */
  position: absolute;

  /* default icon size */
  font-size: 12rem;

  /* corrects <i> default to italics */
  font-style: normal;

  /* default icon color */
  color: #fc0d1b;

  /* default position in the center of the gamespace */
  left: 50%;
  top: 50%;

  /* centers the icon element on its position */
  transform: translate(-50%, -50%);

  /* default drop shadow for icons */
  filter: drop-shadow(5px 2px 3px rgba(0, 0, 0, .65));

  cursor: pointer;

  z-index: 200;
}

.text-icon {
  color: #323538;
  font-family: "Patrick Hand", cursive;
  font-size: 12rem;
  transform: translate(-50%, -50%);
  filter: none;

}

.hidden {
  visibility: hidden;
}

.titan-one {
  font-family: "Titan One", cursive;
}

.fail {
  color: #211f1f;
  font-family: 'Titan One', cursive;
  font-size: 3rem;
  width: 65%;
  transform: rotate(-15deg);
  text-align: left;
}

.fail-space {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.fail-red {
  color: #e5322b;
  margin-top: -5rem;
  font-size: 15rem;
  padding-left: 3rem;
  text-transform: uppercase;
}

.fail-timeline {
  letter-spacing: -.5rem;
}
