$color-primary: #007bff;
$color-secondary: #6c757d;
$color-success: #28a745;

.btn {
    margin-top: .25rem;
    margin-bottom: .25rem;

    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 2rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


.btn-outline-primary {
    color: $color-primary;
    border-color: $color-primary;

    &:hover {
        color: #fff;
        background-color: $color-primary;
        border-color: $color-primary;
    }

    &:focus {
        box-shadow: 0 0 0 .2rem rgba($color-primary, .5);
        outline: none;
    }
}

.btn-outline-secondary {
    color: $color-secondary;
    border-color: $color-secondary;

    &:hover {
        color: #fff;
        background-color: $color-secondary;
        border-color: $color-secondary;
    }

    &:focus {
        box-shadow: 0 0 0 .2rem rgba($color-secondary, .5);
        outline: none;
    }
}

.btn-outline-success {
    color: $color-success;
    border-color: $color-success;

    &:hover {
        color: #fff;
        background-color: $color-success;
        border-color: $color-success;
    }

    &:focus {
        box-shadow: 0 0 0 .2rem rgba($color-success, .5);
        outline: none;
    }
}
