<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

    <link rel="stylesheet" href="assets/css/icon-font.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="shortcut icon" type="image/png" href="assets/img/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Unica+One" rel="stylesheet">

    <title>Natours | Exciting tours for adventurous people</title>
</head>

<body>

    <main>
        <header>
            <h1 class="heading-primary">Elements</h1>
        </header>
        <section class="grids">

            

            <div class="row">

                <div class="col-1-of-1">
                
                    <h2 class = "heading-secondary">Sample Content</h2>

                    <p class = "paragraph">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum optio, dolorum culpa mollitia officiis omnis corrupti modi, cupiditate soluta consectetur veritatis possimus. Quas, totam sed officiis asperiores assumenda sequi deleniti!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet accusantium, adipisci consectetur nesciunt excepturi magnam expedita voluptatibus hic. Nesciunt eum maxime enim distinctio quod asperiores optio recusandae vero! Nobis, cumque!
                    </p>
    
                </div>
               
            </div>


            <div class="row">
                <div class="col-1-of-2">
                    <h2 class = "heading-secondary">Sample Content</h2>

                    <p class = "paragraph">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum optio, dolorum culpa mollitia officiis omnis corrupti modi, cupiditate soluta consectetur veritatis possimus. Quas, totam sed officiis asperiores assumenda sequi deleniti!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet accusantium, adipisci consectetur nesciunt excepturi magnam expedita voluptatibus hic. Nesciunt eum maxime enim distinctio quod asperiores optio recusandae vero! Nobis, cumque!
                    </p>
    
                </div>
                <div class="col-1-of-2">
                    <h2 class = "heading-secondary">Sample Content</h2>

                    <p class = "paragraph">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum optio, dolorum culpa mollitia officiis omnis corrupti modi, cupiditate soluta consectetur veritatis possimus. Quas, totam sed officiis asperiores assumenda sequi deleniti!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet accusantium, adipisci consectetur nesciunt excepturi magnam expedita voluptatibus hic. Nesciunt eum maxime enim distinctio quod asperiores optio recusandae vero! Nobis, cumque!
                    </p>
    
                </div>
            </div>



            <div class="row">
                <div class="col-1-of-3">
                    <h2 class = "heading-secondary">Sample Content</h2>

                    <p class = "paragraph">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum optio, dolorum culpa mollitia officiis omnis corrupti modi, cupiditate soluta consectetur veritatis possimus. Quas, totam sed officiis asperiores assumenda sequi deleniti!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet accusantium, adipisci consectetur nesciunt excepturi magnam expedita voluptatibus hic. Nesciunt eum maxime enim distinctio quod asperiores optio recusandae vero! Nobis, cumque!
                    </p>
    
                </div>
                <div class="col-1-of-3">
                    <h2 class = "heading-secondary">Sample Content</h2>

                    <p class = "paragraph">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum optio, dolorum culpa mollitia officiis omnis corrupti modi, cupiditate soluta consectetur veritatis possimus. Quas, totam sed officiis asperiores assumenda sequi deleniti!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet accusantium, adipisci consectetur nesciunt excepturi magnam expedita voluptatibus hic. Nesciunt eum maxime enim distinctio quod asperiores optio recusandae vero! Nobis, cumque!
                    </p>
    
                </div>
                <div class="col-1-of-3">
                    <h2 class = "heading-secondary">Sample Content</h2>

                    <p class = "paragraph">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum optio, dolorum culpa mollitia officiis omnis corrupti modi, cupiditate soluta consectetur veritatis possimus. Quas, totam sed officiis asperiores assumenda sequi deleniti!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet accusantium, adipisci consectetur nesciunt excepturi magnam expedita voluptatibus hic. Nesciunt eum maxime enim distinctio quod asperiores optio recusandae vero! Nobis, cumque!
                    </p>
    
                </div>
            </div>



            <header>
                <h1 class="heading-primary">Elements</h1>
            </header>

            <div class="row">
                <div class="col-1-of-2">
                    <h2 class = "heading-secondary">Sample Content</h2>

                    <p class = "paragraph">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum optio, dolorum culpa mollitia officiis omnis corrupti modi, cupiditate soluta consectetur veritatis possimus. Quas, totam sed officiis asperiores assumenda sequi deleniti!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet accusantium, adipisci consectetur nesciunt excepturi magnam expedita voluptatibus hic. Nesciunt eum maxime enim distinctio quod asperiores optio recusandae vero! Nobis, cumque!
                    </p>


                    <h2 class="heading-secondary">Heading Level 2</h2>
                    <h3 class="heading-tertiary">Heading Level 3</h3>
                    <h4 class="heading-quaternary">Heading Level 4</h4>
                    <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem excepturi
                        labore quia amet
                        maxime quo, repellat debitis quae assumenda totam reiciendis doloribus est quidem? Pariatur quas
                        est mollitia. Ipsa, mollitia.</p>
    
                </div>
                <div class="col-1-of-2">
                    
                
                    <button type="button" class="btn btn-outline-primary">Primary</button>
                    <button type="button" class="btn btn-outline-secondary">Secondary</button>
                    <button type="button" class="btn btn-outline-success">Success</button>
                   
    
                </div>
            </div>
          

        </section>


            

      
    </main>





    <!-- <section class="gridtest">
        <div class="row">
            <div class="col-1-of-2">
                col 1 of 2

            </div>
            <div class="col-1-of-2">
                col 1 of 2

            </div>
        </div>

        <div class="row">
            <div class="col-1-of-3">
                col 1 of 3

            </div>
            <div class="col-1-of-3">
                col 1 of 3

            </div>
            <div class="col-1-of-3">
                col 1 of 3

            </div>
        </div>

        <div class="row">
            <div class="col-2-of-3">
                col 1 of 3

            </div>
            <div class="col-2-of-3">
                col 1 of 3

            </div>
        </div>

        <div class="row">
            <div class="col-1-of-4">
                col 1 of 4

            </div>
            <div class="col-1-of-4">
                col 1 of 4

            </div>
            <div class="col-1-of-4">
                col 1 of 4

            </div>
            <div class="col-1-of-4">
                col 1 of 4

            </div>
        </div>



        <div class="row">
            <div class="col-1-of-4">
                col 1 of 4

            </div>
            <div class="col-1-of-4">
                col 1 of 4

            </div>
            <div class="col-2-of-4">
                col 2 of 4

            </div>

        </div>



        <div class="row">
            <div class="col-1-of-4">
                col 1 of 4

            </div>
            <div class="col-3-of-4">
                col 3 of 4

            </div>

        </div>

    </section> -->





</body>

</html>